
  <div >
    <div class="col-md-4">
      <div class="vertical_scrollable card backg_spotify" id="first">
        <div class="media block-6 services text-center d-block">
        <form class="navbar-form">
          <div class="input-group add-on">
            <input class="form-control" placeholder="Search a music" name="srch-term" id="search-text" type="text">
            <div class="input-group-btn">
              <div id="search_button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></div>
            </div>
          </div>
        </form>
        <div id="song_0"></div>
        <div id='bouton_0' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_1"></div>
        <div id='bouton_1' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_2"></div>
        <div id='bouton_2' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_3"></div>
        <div id='bouton_3' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_4"></div>
        <div id='bouton_4' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_5"></div>
        <div id='bouton_5' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_6"></div>
        <div id='bouton_6' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_7"></div>
        <div id='bouton_7' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_8"></div>
        <div id='bouton_8' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_9"></div>
        <div id='bouton_9' class="bouton_ajouter_musique">ajouter à la playlist</div>
        <div id="song_10"></div>
        <div id='bouton_10' class="bouton_ajouter_musique">ajouter à la playlist</div>
      </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="vertical_scrollable card backg_spotify" id="second">
        <div class="media block-6 services text-center d-block">
        <div id="playlist"></div>
      </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="vertical_scrollable card backg_spotify" id="second">
        <div class="media block-6 services text-center d-block">
        <div id="unused"></div>
      </div>
      </div>
    </div>


  </div>
