<app-loader></app-loader>
<app-navbar></app-navbar>
<app-anim-text></app-anim-text>

<section>
  <div class="cut cut-top"></div>
  <div class="container">
    <app-multibox></app-multibox>

  </div>
</section>
<section id="services" class="section section-padded">
  <div class="container">
    <div class="row text-center title">
      <h2>Playlist</h2>
      <h4 class="light muted">Créez votre playlist à l'aide d'un compte spotify pour vous enjayer un max!</h4>
    </div>
    <div class="row services">
          <app-spotify-search-music></app-spotify-search-music>
    </div>
  </div>
  <div class="cut cut-bottom"></div>
</section>
<section id="team" class="section gray-bg">
  <div class="container">
    <div class="row title text-center">
      <h2 class="margin-top">Planification</h2>
      <h4 class="light muted">Ne soyez pas en retard !</h4>
      <app-convier></app-convier>
    </div>
  </div>
</section>
<section id="pricing" class="section">
  <app-tmdb></app-tmdb>
</section>
<section class="section section-padded blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="owl-twitter owl-carousel">
          <div class="item text-center">
            <i class="icon fa fa-twitter"></i>
            <h4 class="white light">Pour mieux organiser vos soirée !</h4>
            <h4 class="light-white light">#party #dating #fun</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Holder for mobile navigation -->
<div class="mobile-nav">
  <ul>
  </ul>
  <a href="#" class="close-link"><i class="arrow_up"></i></a>
</div>
