<div class="container" id="tmdb_div">
    <div class="row title text-center">
      <h2 class="margin-top white">Films</h2>
      <h4 class="light white">Ne trouvez que les meilleurs films</h4>
    </div>
    <div class="row no-margin">
      <div class="col-md-7 no-padding pricings text-center">
        <div class="col-md-7">
          <input class="form-control" placeholder="Mot clé" id="searchBarKeyWord" type="text">
          <span class="search-title" ></span>
          <div class="input-group-btn">
              <div id="btn_tmdb_Kw" class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></div>
            </div>
      </div>
      </div>
      <div class="col-md-7 no-padding pricings text-center" id="res_box">
          
          <div class="filmBox" id="film_0"><div class="filmName" id="name_0"></div></div>
          <div class="filmBox" id="film_1"><div class="filmName" id="name_1"></div></div>
          <div class="filmBox" id="film_2"><div class="filmName" id="name_2"></div></div>
          <div class="filmBox" id="film_3"><div class="filmName" id="name_3"></div></div>
          <div class="filmBox" id="film_4"><div class="filmName" id="name_4"></div></div>
          <div class="filmBox" id="film_5"><div class="filmName" id="name_5"></div></div>
          <div class="filmBox" id="film_6"><div class="filmName" id="name_6"></div></div>
          <div class="filmBox" id="film_7"><div class="filmName" id="name_7"></div></div>
          <div class="filmBox" id="film_8"><div class="filmName" id="name_8"></div></div>
          <div class="filmBox" id="film_9"><div class="filmName" id="name_9"></div></div>
      
      </div>
        
    </div>
  </div>